@charset "utf-8";
/* CSS Document */
.data_source_name {
	font-style: italic;
}

.conclusion {
	font-weight: bold;
}

.highlight {
	font-weight: bold;
}

div.ui-btn-text {
	white-space: normal;
}

.ui-li-desc {
	white-space: normal;
}

.ui-li-heading {
	white-space: normal;
}

.ui-btn-up-d a.ui-link-inherit:visited {
	color: #00688B;
}


@media only screen and (min-width: 1000px) {
	.ui-content {
		width: 1000px !important;
		margin: 0 auto !important;
		position: relative !important;
	}
}
 


em {
	font-weight: bold;
}